<footer>
    <div class="bg-blue-1500 font-serif text-white pb-2">

        <p class="text-sm text-center py-1 md:text-base py-3">Développé par <a class="hover:text-sky-700" href="index.php">Guiguian Mateo</a> ©</p>

        <div class="flex justify-center gap-10 py-1 md:py-3">
            <a class="w-8" href="https://github.com/GuiguianMateo">
                <img src="assets/img/github.png">
            </a>
            <a class="w-8" href="https://www.linkedin.com/in/mateo-guiguian-295487268/">
                <img src="assets/img/linkedin.png">
            </a>
            <a class="w-8" href="https://iia-formation.fr/">
                <img src="assets/img/iia.png">
            </a>
        </div>
    </div>
</footer>