<header class="bg-black">
    <nav class="flex justify-between px-4 py-2 md:py-5 md:px-10">
        <div class="font-serif font-medium italic text-4xl text-white hidden md:block">
            <a href="index.php">
                <p>Guiguian Mateo</p>
            </a>
        </div>
        <ul class="flex mx-auto md:mx-0 text-white my-auto gap-7 text-lg">
            <li class="hover:duration-200 duration-200 hover:translate-y-2 hover:bg-gray-500/50 px-4 py-2 rounded">
                <a href="profil.php">Profil</a>
            </li>
            <li class="hover:duration-200 duration-200 hover:translate-y-2 hover:bg-gray-500/50 px-4 py-2 rounded">
                <a href="experience.php">Expérience</a>
            </li>
            <li class="hover:duration-200 duration-200 hover:translate-y-2 hover:bg-gray-500/50 px-4 py-2 rounded">
                <a href="contact.php">Contact</a>
            </li>
        </ul>
    </nav>
</header>