<header class="bg-blue-1500">
    <nav class="flex justify-between px-4 py-2 md:py-5 md:px-10">
        <div class="font-serif font-medium italic text-4xl text-white hidden md:block">
            <a href="index.php">
                <p class="hover:underline hover:text-sky-800"hover>Guiguian Mateo</p>
            </a>
        </div>
        <ul class="flex mx-auto md:mx-0 text-white my-auto gap-7">
            <li class="text-sm hover:duration-200 hover:translate-y-2 md:text-lg">
                <a href="profil.php" class="hover:bg-gray-500/50 px-3 py-1 rounded md:px-5 py-3">Profil</a>
            </li>
            <li class="text-sm hover:duration-200 hover:translate-y-2 md:text-lg">
                <a href="experience.php" class="hover:bg-gray-500/50 px-3 py-1 rounded md:px-5 py-3">Expérience</a>
            </li>
            <li class="text-sm hover:duration-200 hover:translate-y-2 md:text-lg">
                <a href="contact.php" class="hover:bg-gray-500/50 px-3 py-1 rounded md:px-5 py-3">Contact</a>
            </li>
        </ul>
    </nav>
</header>