.vertical_hr{ 
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100vh;
    width:          1px;      
    border-color: black; 
}

.bg-blue-1500 {
 background-color: #00090e;
}
